Repository datacamp/design-system, pull requests merged in 2021-04, with the labels that each got.

#1293 fix: disable documentation deployment
  .circleci/config.yml
  ecs.json
  packages/docs/storybook/ecs.backstage.json
Labels: 📁 Repo: storybook

#1229 feat: nine dots icon
  packages/react-components/icons/standardIcons/nine-dots.svg
Labels: 📁 Repo: icons

#1283 feat: info and external link icons
  packages/react-components/icons/invertedIcons/info-circle.svg
  packages/react-components/icons/standardIcons/external-link.svg
  packages/react-components/icons/standardIcons/info-circle.svg
Labels: 📁 Repo: icons

#1289 feat: facebook and google social media button
  packages/react-components/button/src/SocialMediaButtons/__snapshots__/index.spec.tsx.snap
  packages/react-components/button/src/SocialMediaButtons/index.tsx
  packages/react-components/icons/brandIcons/facebook-round.svg
Labels: 📁 Repo: button, 📁 Repo: icons

#1292 feat: improve performance
  packages/docs/catalog-doc-site/catalog/pages/stylesheets/index.js
  packages/react-components/button/src/Button/index.tsx
  packages/react-components/loaders/package.json
  packages/react-components/loaders/src/LogomarkSpinner.tsx
  packages/react-components/loaders/src/__snapshots__/LogomarkSpinner.spec.tsx.snap
  packages/stylesheets/core/core.js
  packages/stylesheets/core/package.json
  packages/stylesheets/core/scss/core-ingredients.scss
  packages/stylesheets/core/scss/custom.scss
  packages/stylesheets/core/scss/design/_base.scss
  packages/stylesheets/core/scss/design/typography/_typography.scss
  packages/stylesheets/core/scss/fonts.scss
  packages/stylesheets/core/scss/ingredients.scss
  packages/stylesheets/core/scss/normalize.scss
  packages/stylesheets/core/test/__snapshots__/core.spec.js.snap
  packages/stylesheets/core/webpack.config.js
  yarn.lock
Labels: 📁 Repo: button, 📁 Repo: catalog-doc-site, 📁 Repo: loaders

#1295 fix: display loader svg as block
  packages/react-components/loaders/src/LogomarkSpinner.tsx
  packages/react-components/loaders/src/__snapshots__/LogomarkSpinner.spec.tsx.snap
Labels: 📁 Repo: loaders
