Repository datacamp/design-system, pull requests merged in 2021-02, with the labels that each got.

#1233 WF-463 update logos page
  packages/docs/catalog-doc-site/catalog/pages/design/logo.js
  packages/docs/catalog-doc-site/catalog/static/logo/Logomark.svg
Labels: 📁 Repo: catalog-doc-site

#1227 WF-467 fix stryker testing
  packages/react-components/asset-components/package.json
  packages/react-components/button/package.json
  packages/react-components/card/package.json
  packages/react-components/form-elements/package.json
  packages/react-components/loaders/package.json
  packages/react-components/markdown/package.json
  packages/react-components/modals/package.json
  packages/react-components/positioner/package.json
  packages/react-components/resizable-elements/package.json
  packages/react-components/text/package.json
  packages/react-components/toast/package.json
  packages/react-components/tooltip/package.json
  yarn.lock
Labels: 📁 Repo: asset-components, 📁 Repo: button, 📁 Repo: card, 📁 Repo: form-elements, 📁 Repo: loaders, 📁 Repo: markdown, 📁 Repo: modals, 📁 Repo: positioner, 📁 Repo: resizable-elements, 📁 Repo: text, 📁 Repo: toast, 📁 Repo: tooltip

#1249 fix: remove overflow hidden from resizable elements
  packages/react-components/resizable-elements/src/ResizableElements.tsx
  packages/react-components/resizable-elements/src/__snapshots__/ResizableElements.spec.tsx.snap
Labels: 📁 Repo: resizable-elements

#1248 feat: desktop + platform switch icon
  packages/react-components/icons/standardIcons/desktop.svg
  packages/react-components/icons/standardIcons/platform-switch.svg
Labels: 📁 Repo: icons

#1257 fix: make fixed size panel work on narrow screens
  packages/react-components/modals/src/Panel/PanelStyles.ts
  packages/react-components/modals/src/Panel/__snapshots__/index.spec.tsx.snap
Labels: 📁 Repo: modals

#1258 WF-475 move circular references to allow systemjs bundles
  packages/react-components/text/src/components/Emphasis.tsx
  packages/react-components/text/src/components/Heading.tsx
  packages/react-components/text/src/components/Paragraph.tsx
  packages/react-components/text/src/components/Small.tsx
  packages/react-components/text/src/components/Strong.tsx
  packages/react-components/text/src/components/Text.tsx
Labels: 📁 Repo: text

#1259 WF-476 stop using nth-child selector in loading buttons
  packages/react-components/button/src/Button/__snapshots__/index.spec.tsx.snap
  packages/react-components/button/src/Button/spinnerStyle.ts
Labels: 📁 Repo: button

#1264 feat: add onFocus prop to Input
  packages/react-components/form-elements/src/Input/index.spec.tsx
  packages/react-components/form-elements/src/Input/index.tsx
Labels: 📁 Repo: form-elements

#1260 fix: make positioner work in modals
  packages/react-components/modals/src/AlertDialog/__snapshots__/index.spec.tsx.snap
  packages/react-components/modals/src/BaseDialog/DialogStyles.ts
  packages/react-components/modals/src/Dialog/__snapshots__/index.spec.tsx.snap
Labels: 📁 Repo: modals
